.header {
  margin: 42px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include desktop {
    flex-wrap: nowrap;
    margin: 42px 105px;
  }
  &__logo {
    width: 200px;
    height: 50px;
  }
  &__title {
    font-size: 14px;
    line-height: 18.23px;
    color: $secondary-color;
    @include desktop {
      order: 3;
      font-size: 36px;
      line-height: 47px;
    }
  }
}
