@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  padding: 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  font-family: "DM Sans", sans-serif;
}

.header {
  margin: 42px 20px;
}
@media screen and (min-width: 1023px) {
  .header {
    margin: 42px 105px;
  }
}
.header__logo {
  width: 150px;
  height: auto;
}
@media screen and (min-width: 1023px) {
  .header__logo {
    width: 200px;
    height: auto;
  }
}
.header__title {
  position: absolute;
  top: 50px;
  right: 22px;
  font-size: 14px;
  line-height: 18.23px;
  color: #901c1c;
}
@media screen and (min-width: 1023px) {
  .header__title {
    font-size: 36px;
    line-height: 47px;
  }
}
.header__nav {
  margin: 30px 0 0 0;
}

.main {
  margin: auto;
  height: 100%;
}
@media screen and (min-width: 1023px) {
  .main {
    width: calc(100% - 200px);
  }
}

.card {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}
@media screen and (min-width: 1023px) {
  .card {
    margin: 72px;
  }
}
.card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.card__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.card__name {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #d3573c;
  line-height: 46.87px;
}
.card__location {
  font-size: 13px;
  text-align: center;
  color: #901c1c;
  line-height: 16.93px;
  margin: 0;
}
.card__tagline {
  text-align: center;
  font-size: 10px;
  line-height: 13.02px;
}
.card__price {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: #757575;
}

.span-tag {
  padding: 0 4px;
  height: 16px;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901c1c;
}

.photograph-header {
  padding: 20px;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .photograph-header {
    max-width: 1240px;
    height: 313px;
    background: #fafafa;
    margin: auto;
    padding: 56px 50px;
    position: relative;
  }
}
.photograph-header__user {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100px;
  width: 100px;
  background: #c4c4c4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (min-width: 1023px) {
  .photograph-header__user {
    right: 50px;
    top: 56px;
    height: 200px;
    width: 200px;
  }
}
.photograph-header__button {
  position: sticky;
  top: 90%;
  left: calc(50% - 85px);
}
@media screen and (min-width: 1023px) {
  .photograph-header__button {
    position: absolute;
    top: 63px;
    left: 550px;
  }
}

.photographer-profile {
  height: 100%;
}
.photographer-profile__name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: #d3573c;
}
@media screen and (min-width: 1023px) {
  .photographer-profile__name {
    font-size: 64px;
    line-height: 83px;
  }
}
.photographer-profile__location {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  color: #901c1c;
}
@media screen and (min-width: 1023px) {
  .photographer-profile__location {
    font-size: 24px;
    line-height: 31px;
  }
}
.photographer-profile__tagline {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #525252;
}
@media screen and (min-width: 1023px) {
  .photographer-profile__tagline {
    font-size: 18px;
    line-height: 23px;
  }
}
.photographer-profile__taglist {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}

.taglist {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1023px) {
  .taglist {
    flex-wrap: nowrap;
  }
}
.taglist__tag {
  text-transform: capitalize;
  margin: 5px;
  padding: 3px;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  color: #901c1c;
}
.taglist__tag:hover, .taglist__tag:focus {
  color: #ffffff;
  background: #911c1c;
}

.button {
  height: 35px;
  width: 170px;
  font-family: DM Sans;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  background: #911c1c;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}
@media screen and (min-width: 1023px) {
  .button {
    width: 170px;
    height: 69px;
    font-size: 20px;
    line-height: 26px;
  }
}
.button:hover, .button:focus {
  background: #db8876;
}

@media (hover: hover) {
  .select__button--native + .select__wrapper--custom {
    display: none;
  }
}
.select {
  display: none;
}
@media screen and (min-width: 1023px) {
  .select {
    display: block;
  }
  .select__label {
    width: 74px;
    height: 23px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
  .select__wrapper {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 35px;
    left: 25px;
  }
  .select__wrapper--custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 69px;
    background: #911c1c;
    border-radius: 5px;
    padding: 9px 10px 6px 10px;
  }
  .select__wrapper--custom.active, .select__wrapper--custom:hover, .select__wrapper--custom:focus {
    height: 170px;
  }
  .select__wrapper--custom.active .select__options, .select__wrapper--custom:hover .select__options, .select__wrapper--custom:focus .select__options {
    display: block;
  }
  .select__wrapper--custom.active .select__button__icon, .select__wrapper--custom:hover .select__button__icon, .select__wrapper--custom:focus .select__button__icon {
    transform: rotate(0deg);
  }
  .select__button {
    position: relative;
    padding: 14px 10px;
    width: 100%;
    text-align: left;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
  }
  .select__button--native {
    height: 69px;
    background: #911c1c;
    border-radius: 5px;
    padding: 9px 10px 6px 10px;
    border: none;
  }
  .select__button__icon {
    margin: 6px 0;
    transform: rotate(180deg);
    float: right;
  }
  .select__options {
    position: absolute;
    padding: 0;
    display: none;
  }
  .select__option {
    cursor: pointer;
    width: 150px;
    border-top: solid thin white;
    padding: 14px 10px;
    text-align: left;
    list-style: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
  }
}

.content-button {
  position: absolute;
  top: -100px;
  height: 35px;
  width: 170px;
  font-family: DM Sans;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  background: #911c1c;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}
@media screen and (min-width: 1023px) {
  .content-button {
    width: 170px;
    height: 69px;
    font-size: 20px;
    line-height: 26px;
  }
}
.content-button:hover, .content-button:focus {
  background: #db8876;
}
.content-button:focus {
  top: 0;
  margin: 0 auto;
  width: fit-content;
  height: auto;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.125em;
  line-height: 1.465em;
}

.counter {
  display: none;
}
@media screen and (min-width: 1023px) {
  .counter {
    padding-top: 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    background: #db8876;
    border-radius: 5px;
    height: 89px;
    width: 376px;
    position: sticky;
    top: calc(100% - 68px);
    left: calc(100% - 412px);
  }
  .counter_text {
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: stretch;
}
@media screen and (min-width: 1023px) {
  .gallery {
    margin-top: 58px;
  }
}

.thumb-imgfull {
  margin: 10px 20px;
  width: 335px;
  height: 218px;
  object-fit: cover;
}
@media screen and (min-width: 1023px) {
  .thumb-imgfull {
    margin: 10px 0;
    width: 350px;
    height: 351px;
  }
}
.thumb-imgfull__media {
  margin-bottom: 10px;
  width: 335px;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
}
@media screen and (min-width: 1023px) {
  .thumb-imgfull__media {
    height: 300px;
    width: 350px;
  }
}
.thumb-imgfull__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 70px);
  display: inline-block;
  margin-bottom: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #911c1c;
}
@media screen and (min-width: 1023px) {
  .thumb-imgfull__title {
    font-size: 24px;
    line-height: 31px;
  }
}
.thumb-imgfull__likes {
  float: right;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #911c1c;
}
@media screen and (min-width: 1023px) {
  .thumb-imgfull__likes {
    font-size: 24px;
    line-height: 31px;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.lightbox-modal {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1023px) {
  .lightbox-modal {
    width: fit-content;
    height: fit-content;
    position: relative;
    max-width: 1253px;
    max-height: 984px;
  }
}
.lightbox-modal__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
}
@media screen and (min-width: 1023px) {
  .lightbox-modal__container {
    padding: 22px 94px 62px 109px;
    margin-top: 40px;
  }
}
.lightbox-modal__media {
  height: 248px;
  width: 290px;
  object-fit: cover;
  border-radius: 5px;
}
@media screen and (min-width: 1023px) {
  .lightbox-modal__media {
    width: 1050px;
    height: 900px;
  }
}
.lightbox-modal__caption {
  font-size: 14px;
  line-height: 18px;
  color: #911c1c;
}
@media screen and (min-width: 1023px) {
  .lightbox-modal__caption {
    font-size: 24px;
    line-height: 31px;
  }
}
.lightbox-modal__prev {
  height: 26px;
  width: 26px;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1023px) {
  .lightbox-modal__prev {
    height: 96px;
    width: 96px;
  }
}
.lightbox-modal__prev svg {
  transform: rotate(180deg);
  color: #911c1c;
  height: 8.1617393494px;
  width: 13.2266712189px;
}
@media screen and (min-width: 1023px) {
  .lightbox-modal__prev svg {
    height: 29.6399993896px;
    width: 47.9999961853px;
  }
}
.lightbox-modal__next {
  height: 26px;
  width: 26px;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1023px) {
  .lightbox-modal__next {
    height: 96px;
    width: 96px;
  }
}
.lightbox-modal__next svg {
  color: #911c1c;
  height: 8.1617393494px;
  width: 13.2266712189px;
}
@media screen and (min-width: 1023px) {
  .lightbox-modal__next svg {
    height: 29.6399993896px;
    width: 47.9999961853px;
  }
}
.lightbox-modal__close {
  position: absolute;
  top: 35%;
  right: 23.43px;
}
.lightbox-modal__close svg {
  height: 11.5px;
  width: 11.5px;
}
@media screen and (min-width: 1023px) {
  .lightbox-modal__close {
    position: absolute;
    top: 77px;
    right: 40px;
  }
  .lightbox-modal__close svg {
    height: 42px;
    width: 42px;
  }
}

.contact-modal {
  position: relative;
  background: #db8876;
  margin: auto;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1023px) {
  .contact-modal {
    width: 669px;
    height: 900px;
  }
}
.contact-modal__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  padding: 17px 20px;
}
@media screen and (min-width: 1023px) {
  .contact-modal__title {
    font-size: 64px;
    line-height: 83px;
    padding: 15px 35px;
  }
}
.contact-modal__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 20px;
}
@media screen and (min-width: 1023px) {
  .contact-modal__form {
    padding: 0 35px;
  }
}
.contact-modal__form__label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #312e2e;
}
@media screen and (min-width: 1023px) {
  .contact-modal__form__label {
    font-size: 36px;
    line-height: 47px;
  }
}
.contact-modal__form__input {
  font-family: DM Sans;
  font-size: 36px;
  line-height: 47px;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  line-height: 52px;
  padding: 0;
}
@media screen and (min-width: 1023px) {
  .contact-modal__form__input {
    line-height: 68px;
  }
}
.contact-modal__form__textarea {
  font-family: DM Sans;
  font-size: 34px;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  line-height: 34px;
  padding: 0;
}
.contact-modal__form__button {
  margin: 26px auto;
}
@media screen and (min-width: 1023px) {
  .contact-modal__form__button {
    margin: 26px 0;
  }
}
.contact-modal__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 35%;
  right: 23.43px;
}
.contact-modal__close svg {
  height: 18.67px;
  width: 18.67px;
}
@media screen and (min-width: 1023px) {
  .contact-modal__close {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 77px;
    right: 40px;
  }
  .contact-modal__close svg {
    height: 42px;
    width: 42px;
  }
}
.contact-modal__close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #ffffff;
  font-size: 42px;
  line-height: 42px;
}

.section-photographers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: stretch;
}

#photographer-page .main {
  position: relative;
}

/*# sourceMappingURL=main.css.map */
