@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

body {
  font-family: "DM Sans", sans-serif;
}

.header {
  margin: 42px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1023px) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 42px 105px;
  }
}

.header__logo {
  width: 200px;
  height: 50px;
}

.header__title {
  font-size: 14px;
  line-height: 18.23px;
  color: #901c1c;
}

@media screen and (min-width: 1023px) {
  .header__title {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 36px;
    line-height: 47px;
  }
}

.card {
  margin: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__name {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #d3573c;
  line-height: 46.87px;
}

.card__location {
  font-size: 13px;
  text-align: center;
  color: #901c1c;
  line-height: 16.93px;
  margin: 0;
}

.card__tagline {
  text-align: center;
  font-size: 10px;
  line-height: 13.02px;
}

.card__price {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: #757575;
}

.span-tag {
  padding: 0 4px;
  height: 16px;
  border: 0.5px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901c1c;
}

.taglist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1023px) {
  .taglist {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.taglist__tag {
  text-transform: capitalize;
  margin: 5px;
  padding: 3px;
  border: 0.5px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  color: #901c1c;
}

.taglist__tag:hover, .taglist__tag:focus {
  color: #ffffff;
  background: #911c1c;
}

.section-photographers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
/*# sourceMappingURL=main.css.map */