.card {
  margin-bottom: 40px;
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  @include desktop {
    margin: 72px;
  }
  &__link {
    @include flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  &__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__name {
    font-family: $font-stack;
    font-size: 2rem;
    text-align: center;
    color: $primary-color;
    line-height: 46.87px;
  }
  &__location {
    font-size: 0.813rem;
    text-align: center;
    color: $secondary-color;
    line-height: 16.93px;
    margin: 0;
  }
  &__tagline {
    text-align: center;
    font-size: 0.625rem;
    line-height: 13.02px;
  }
  &__price {
    font-size: 0.563rem;
    line-height: 12px;
    text-align: center;
    color: $dark-grey;
  }
}
.span-tag {
  padding: 0 4px;
  height: 1rem;
  border: 0.5px solid $clear-grey;
  box-sizing: border-box;
  border-radius: 11px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  color: $secondary-color;
}
