.contact-modal {
  position: relative;
  background: $primary-color;
  margin: auto;
  height: 100%;
  width: 100%;
  @include desktop {
    width: 669px;
    height: 900px;
  }
  &__title {
    @include font-X;
    padding: 17px 20px;
    @include desktop {
      @include font-XX;
      padding: 15px 35px;
    }
  }
  &__form {
    @include flex;
    flex-direction: column;
    padding: 0 20px;
    @include desktop {
      padding: 0 35px;
    }
    &__label {
      @include font-M;
      color: #312e2e;
      @include desktop {
        @include font-X;
      }
    }
    &__input {
      font-family: $font-stack;
      @include font-X;
      border: none;
      background: #ffffff;
      border-radius: 5px;
      line-height: 52px;
      padding: 0;
      @include desktop {
        line-height: 68px;
      }
    }
    &__textarea {
      font-family: $font-stack;
      font-size: 2rem;
      border: none;
      background: #ffffff;
      border-radius: 5px;
      line-height: 2.125rem;
      padding: 0;
    }
    &__button {
      margin: 26px auto;
      @include desktop {
        margin: 26px 0;
      }
    }
  }
  &__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 35%;
    right: 23.43px;
    svg {
      height: 18.67px;
      width: 18.67px;
    }
    @include desktop {
      width: 72px;
      height: 72px;
      position: absolute;
      top: 77px;
      right: 40px;
      svg {
        height: 42px;
        width: 42px;
      }
    }
  }
  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #ffffff;
    font-size: 42px;
    line-height: 42px;
  }
}
