.contact-modal {
  position: relative;
  background: #db8876;
  margin: auto;
  height: 100%;
  width: 100%;
  @include desktop {
    width: 669px;
    height: 900px;
  }
  &__title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    padding: 17px 20px;
    @include desktop {
      font-size: 64px;
      line-height: 83px;
      padding: 15px 35px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 20px;
    @include desktop {
      padding: 0 35px;
    }
    &__label {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 31px;
      color: #312e2e;
      @include desktop {
        font-size: 36px;
        line-height: 47px;
      }
    }
    &__input {
      font-family: DM Sans;
      font-size: 36px;
      line-height: 47px;
      border: none;
      background: #ffffff;
      border-radius: 5px;
      line-height: 52px;
      padding: 0;
      @include desktop {
        line-height: 68px;
      }
    }
    &__textarea {
      font-family: DM Sans;
      font-size: 34px;
      border: none;
      background: #ffffff;
      border-radius: 5px;
      line-height: 34px;
      padding: 0;
    }
    &__button {
      margin: 26px auto;
      @include desktop {
        margin: 26px 0;
      }
    }
  }
  &__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 35%;
    right: 23.43px;
    svg {
      height: 18.67px;
      width: 18.67px;
    }
    @include desktop {
      width: 72px;
      height: 72px;
      position: absolute;
      top: 77px;
      right: 40px;
      svg {
        height: 42px;
        width: 42px;
      }
    }
  }
  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #ffffff;
    font-size: 42px;
    line-height: 42px;
  }
}
