.counter {
  display: none;
  @include desktop {
    padding-top: 21px;
    @include flex;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    background: $primary-color;
    border-radius: 5px;
    height: 89px;
    width: 376px;
    position: sticky;
    top: calc(100% - 68px);
    left: calc(100% - 412px);
    &_text {
      @include font-M;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
