.photographer-profile {
  height: 100%;
  &__name {
    @include font-X;
    color: $primary-color;
    @include desktop {
      @include font-XX;
    }
  }
  &__location {
    @include font-S;
    color: $secondary-color;
    @include desktop {
      @include font-M;
    }
  }
  &__tagline {
    font-family: $font-stack;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $dark-grey;
    @include desktop {
      font-size: 1.125rem;
      line-height: 1.438rem;
    }
  }
  &__taglist {
    padding: 0;
    @include flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
  }
}
