.taglist {
  padding: 0;
  // margin: 0;
  @include flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include desktop {
    flex-wrap: nowrap;
  }
  &__tag {
    text-transform: capitalize;
    margin: 5px;
    padding: 3px;
    border: 0.5px solid $medium-grey;
    box-sizing: border-box;
    border-radius: 11px;
    font-size: 0.75rem;
    line-height: 1rem;
    /* identical to box height */
    text-align: center;
    color: $secondary-color;
    &:hover,
    &:focus {
      color: #ffffff;
      background: $secondary-color;
    }
  }
}
