.gallery {
  @include flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: stretch;
  @include desktop {
    margin-top: 58px;
  }
}
.thumb-imgfull {
  margin: 10px 20px;
  width: 335px;
  height: 218px;
  object-fit: cover;
  @include desktop {
    margin: 10px 0;
    width: 350px;
    height: 351px;
  }
  &__media {
    margin-bottom: 10px;
    width: 335px;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;
    @include desktop {
      height: 300px;
      width: 350px;
    }
  }
  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 70px);
    display: inline-block;
    margin-bottom: 10px;
    @include font-S;
    color: $secondary-color;
    @include desktop {
      @include font-M;
    }
  }
  &__likes {
    float: right;
    @include font-S;
    text-align: right;
    color: $secondary-color;
    @include desktop {
      @include font-M;
    }
  }
}
