* {
  margin: 0;
  box-sizing: border-box;
  // align-content: normal;
  // justify-content: normal;
  // justify-items: normal;
}
body {
  max-width: 1440px;
  margin: auto;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  padding: 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.hidden {
  visibility: hidden;
}
