$primary-color: #db8876;
$secondary-color: #901c1c;
$clear-grey: #fafafa;
$medium-grey: #c4c4c4;
$dark-grey: #525252;
$font-stack: "DM Sans", sans-serif;
$breakpoints: (
  tablet: 767px,
  desktop: 1023px
);
